/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */
#container{
    width:600px;
    height:601px;
    background-image: url(pics/coffey.jpg);
    background-repeat: no-repeat;
    border: 0.1em solid;
}
#topbar{
    height: 20px;
    background-color: #51473D;
    color: #FFFFFF;
    font-style: italic;
    font-size: 11px;
    text-align: right;
    padding-top: 2px;
    padding-right: 2px;
    font-family: Verdana, Times;
}
#menu > a{
    display: none;
}
#menu{
    background-color: #51473D;
    height: 40px;
    margin-top: 178px;
}
#menu ul{
    float: left;
    margin-left: 0;
    padding-left: 10px;
}
#menu a{
    float: left;
    text-decoration: none;
    color: #FFF2D9;
}
#menu ul li{
    display: block;
    text-decoration: none;
    list-style-type: none;
    width: auto;
    float: left;
    margin-left: 0.1em;
    background-color: #736D62;
    padding: 4px 15px 4px 15px;
}
#menu ul li.active{
    background-color: #EAE7D2;
    margin-top: 1px;
}
#menu ul li.active a{
    color: #51473D;
}
#menu ul li:hover{
    background: #8F8279;
}
#menu a:link{
    color: #EAE7D2;
}
#menu a:first-letter{
    text-transform: capitalize;
}

#content{
    background-color: #EAE7D2;
    border-top: 1px solid #FFFFFF;
}
#maincontent{
    width: 370px;
    padding: 5px;
    float: left;
    border-right: 1px dotted;
     margin-right: 8px;
}
img{
    float: left;
    padding-right: 4px;
}


body{
    color: #736D62;
    font-family: Verdana, Times;
    font-size: 12px;
    line-height: 20px;
}
h2{
    font-family: Verdana, Times;
    font-size: 13px;
    color: #736D62;
}

#subcontent{
    padding: 4px;
    font-size: 10px;
}
#subcontent ul li{
    list-style-type: none;
    font-family: Verdana, Times;
}
#subcontent a:link{
    color: #736D62;
}

#maincontent h1{
    font-family: Times;
    font-size: 30px;
}
#subcontent h1{
    font-family: Verdana, Times;
    font-size: 15px;
}
#bottomcontent{
    height: 20px;
    clear: left;
    font-style: italic;
    font-size: 11px;
    padding-left: 2px;
}
/*#51473D*/